.paper {
  border-radius: 0 !important;

  // display: grid;
  // grid-template-columns: 1fr;
  // place-items: center;

  p {
    line-height: 26px;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .title {
    font-weight: 600 !important;
    margin-bottom: 20px !important;
    font-size: 22px !important;
  }

  .title,
  p {
    padding: 0 16px;
  }

  .text {
    a {
      color: #07a287;
      text-decoration: underline;
    }

    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      background-color: #eee;
    }
  }

  .title,
  .text p {
    max-width: 640px;
    margin-inline: auto;
    margin-inline: auto;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    padding: 15px;

    .userInfo {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 8px;
      }

      b {
        font-size: 18px;
        margin-right: 10px;
        margin-left: 10px;
        font-weight: 500;
        line-height: initial;
      }

      span {
        font-size: 16px;
        color: #2ea83a;
        font-weight: 500;
        line-height: initial;
      }
    }

    .actions {
      button {
        max-height: 35px;
      }

      button:first-child {
        margin-right: 15px;
      }

      button:last-child b {
        margin-left: 10px;
      }
    }
  }
}
