.container {
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;

  .header {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 6px;
  }

  p {
    font-size: 15px;
  }
}

.tabs {
  margin-top: 10px;
}

.tableCell {
  margin-right: 15px;
}
