.paper {
  width: clamp(520px, 100%, 760px);
  p {
    line-height: 26px;
  }

  h3,
  h4,
  h5,
  p {
    padding: 0 16px;
  }

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    background-color: #eee;
  }
}

.title {
  font-weight: 600 !important;
  font-size: 22px !important;
}

.title,
.description {
  max-width: 640px;
  margin-inline: auto;
  margin-inline: auto;
}

.description {
  margin-top: 10px;
  margin-bottom: 15px;
}
