.title {
  font-weight: 500 !important;
  font-size: 22px !important;
}

.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
}

.description {
  margin-top: 10px;
  margin-bottom: 15px;
}
