html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Poppins, 'Helvetica Neue', sans-serif;
}

.content {
  min-width: 640px;
  width: 100%;
  margin: 0 auto;

  &--full {
    max-width: 1000px;
  }
}

.wrapper {
  // display: flex;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // grid-template-columns: 1fr minmax(640px, 2fr) 1fr;
  grid-template-columns: 220px minmax(0, 640px) 320px;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 80px;
}

.main-layout-white {
  background-color: #fff;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 680px;
}

.rightSide {
  justify-self: end;
}
